* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

#main {
    wight: 100%;
    padding: 20px;
    text-align: center;
}




